

@media screen and (max-width: 1024px){}
@media screen and (max-width: 767px){}
@media screen and (max-width: 424px){}
   



.profile__edit-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 0 0 18px;
    padding: 0;
    background-image: url(./images/pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FFF;
    background-color: black;
    
}
@media screen and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 0 0 0 10px;  
    }
}

.profile__add-button {
    display: inline-block;
    background-color: black;
    width: 150px;
    height: 50px;
    margin: 35px 0;
    padding: 0;
    border: 2px solid #FFF;
    border-radius: 2px;  
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        margin: 0 auto;
        width: 100%;
    }
}

.elements {
  margin: 0 auto;  
  max-width: 880px;
  width: 100%;
  display: grid;
  gap: 17px 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  border: 1px solid green;
}

.element {
    margin: 0;
    border-radius: 10px;  
    }


.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 0 0 10px 10px;
    border: 1px solid pink;    
}

.element__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__photo {
 margin: 0;
 width: 100%;
 height: 78%;
 min-height: 282px;
 object-fit: contain;
 border-radius: 10px 10px 0 0;
}
.footer {
 margin: 67px auto 60px;
 max-width: 880px;
 
 width: 100%;
 display: flex;
 justify-items: start;
 border: 1px solid green;
}

.footer__copyright {
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
}

@media screen and (max-width: 767px){
    .footer {
        width: calc(100vw - 38px);
        margin: 48px auto 36px;
    }
    .footer__copyright {
        font-size: 14px;
    line-height: 1.2;
    }
}

