

@media screen and (max-width: 1024px){}
@media screen and (max-width: 767px){}
@media screen and (max-width: 424px){}
   
  
.profile {
 max-width: 880px;
 width: 100%;
 display: flex;
 margin: 0 auto 51px;
 border: 1px solid green;
}
.profile__info {
    width: 336px;
    margin: 22px 0 25px 4px;
    border: 1px solid yellow;
}
.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    margin: 0;
}
.profile__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
   margin: 16px 0 0;
}

.profile__avatar {
    height: 120px;
    width: 120px;
    background-image: url(./images/Kusto.svg);
    margin: 0;
    border-radius: 50%;
}

.edit-button {
    display: inline-block;
    background-color: black;
    width: 24px;
    height: 24px;
    margin: 15px 0 34px 18px;
}
.add-button {
    display: inline-block;
    background-color: black;
    width: 150px;
    height: 50px;
    margin: 35px 0;
    border: 2px solid #FFF;
    border-radius: 2px;
    cursor: pointer;
}

.elements {

}

.footer {

}

