.header {
  max-width: 880px;
  width: 100%;
  min-height: 74px;
  margin: 45px auto 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100vw - 38px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    /*max-width: 320px;
    max-height: 56px;*/
    margin: 28px auto 42px;
  }
}