.header {
  max-width: 880px;
  width: 100% ;
  min-height: 74px;
  margin: 45px auto 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 1px solid green;*/
}

@media screen and (max-width: 424px) {
  .header {
    max-width: 320px;
    max-height: 56px;
    margin: 28px 0 42px;
  }
}