.popup__container-photo {
  position: relative;
  max-width: 816px;
  max-height: 562px;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid green;*/
}

@media screen and (max-width: 768px) {
  .popup__container {
    min-width: 240px;
    min-height: 321px;
    margin: 0 auto;
  }
}