.profile__avatar {
  height: 120px;
  width: 120px;
  background-image: url(../../../images/Kusto.svg);
  margin: 0 30px 0 0;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: 0;
  }
}