.profile__info {
  min-width: 336px;
  margin: 22px 0 25px;
  /*border: 1px solid yellow;*/
}

@media screen and (max-width: 767px){
  .profile__info {
      min-width: 282px;
      margin: 22px 0 36px;
  }
}